adult.csv

In [46]:
import pandas as pd

column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status',
'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss','hours_per_week', 'native_country', 'income']

df = pd.read_csv("adult.csv", names=column_names)

df.replace(" ?", pd.NA, inplace=True)
df.dropna(subset=['workclass', 'occupation'], inplace=True)
df['native_country'].fillna("Unknown", inplace=True)

numeric_columns = ['age', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

df.columns = df.columns.str.lower().str.replace(' ', '_')
df.drop_duplicates(inplace=True)

print(df)

       age          workclass  fnlwgt    education  education_num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital_status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[30694 rows x 15 columns]

<ipython-input-46-e2895fda7e2e>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['native_country'].fillna("Unknown", inplace=True)

In [38]:
df_agg = df.groupby('education').agg(
    avg_age=('age', 'mean'),
    avg_hours_per_week=('hours_per_week', 'mean'),
    avg_capital_gain=('capital_gain', 'mean'),
    avg_capital_loss=('capital_loss', 'mean'),
    total_count=('income', 'count'),
    high_income_ratio=('income', lambda x: (x == '>50K').mean())
).reset_index()

print(df_agg)

        education    avg_age  avg_hours_per_week  avg_capital_gain  \
0            10th  37.892900           37.527076        390.673887
1            11th  32.367424           34.196023        224.433712
2            12th  32.104326           35.908397        273.262087
3         1st-4th  45.038961           38.493506        111.720779
4         5th-6th  41.850993           39.009934        169.923841
5         7th-8th  47.524476           40.234266        238.286713
6             9th  40.384449           38.667387        351.220302
7      Assoc-acdm  37.215686           41.161765        648.562745
8       Assoc-voc  38.233157           41.967449        729.529902
9       Bachelors  38.654826           42.954633       1767.565444
10      Doctorate  47.103015           47.630653       4849.165829
11        HS-grad  38.632366           41.038550        595.425560
12        Masters  43.780765           44.185185       2592.045400
13      Preschool  41.911111           36.644444       1018.177778
14    Prof-school  44.139785           48.039427      10666.254480
15   Some-college  36.107153           39.443985        585.258646

    avg_capital_loss  total_count  high_income_ratio
0          63.823105          831                0.0
1          52.140152         1056                0.0
2          31.552163          393                0.0
3          52.720779          154                0.0
4          75.258278          302                0.0
5          71.248252          572                0.0
6          28.479482          463                0.0
7          96.036275         1020                0.0
8          71.283119         1321                0.0
9         118.670463         5180                0.0
10        259.645729          398                0.0
11         70.229395         9961                0.0
12        170.472521         1674                0.0
13         75.355556           45                0.0
14        236.406810          558                0.0
15         73.227017         6766                0.0

The dataset had inconsistent column names, missing values in workclass and occupation, and text-based numbers. It was tidied by standardizing names, handling missing data, converting numbers, and removing duplicates. After grouping by education level, the data showed that higher education is linked to higher income, longer work hours, and different career paths, with master's degree holders having the highest percentage of high-income earners. The final dataset provides insights into how education affects earnings and workforce demographics.

student_results.csv

In [43]:
import pandas as pd

names=['id', 'name', 'phone', 'sex_and_age', 'test_number', 'term_1', 'term_2', 'term_3']

df = pd.read_csv("student_results.csv",names=names )

df = df.rename(columns=lambda x: x.replace(' ', '_').lower())

df[['sex', 'age']] = df['sex_and_age'].str.split('_', expand=True)
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df.dropna(subset=['age'], inplace=True)
df['age'] = df['age'].astype(int)

df[['term_1', 'term_2', 'term_3']] = df[['term_1', 'term_2', 'term_3']].apply(pd.to_numeric, errors='coerce')

df['average_score'] = df[['term_1', 'term_2', 'term_3']].mean(axis=1)

print(df)

   id    name phone sex_and_age test_number  term_1  term_2  term_3 sex  age  \
1   1    Mike   134        m_12      test 1      76      84      87   m   12
2   2   Linda   270        f_13      test 1      88      90      73   f   13
3   3     Sam   210        m_11      test 1      78      74      80   m   11
4   4  Esther   617        f_12      test 1      68      75      74   f   12
5   5    Mary   114        f_14      test 1      65      67      64   f   14
6   1    Mike   134        m_12      test 2      79      85      88   m   12
7   2   Linda   270        f_13      test 2      90      91      75   f   13
8   3     Sam   210        m_11      test 2      80      76      82   m   11
9   4  Esther   617        f_12      test 2      70      78      76   f   12
10  5    Mary   114        f_14      test 2      66      69      65   f   14

    average_score
1       82.333333
2       83.666667
3       77.333333
4       72.333333
5       65.333333
6       84.000000
7       85.333333
8       79.333333
9       74.666667
10      66.666667

In [44]:
df_agg = df.groupby(['id', 'name', 'sex', 'age']).agg(
    avg_test_1=('term_1', 'mean'),
    avg_test_2=('term_2', 'mean'),
    avg_test_3=('term_3', 'mean'),
    overall_avg=('average_score', 'mean'),
    total_tests=('test_number', 'count')
).reset_index()

print(df_agg)

  id    name sex  age  avg_test_1  avg_test_2  avg_test_3  overall_avg  \
0  1    Mike   m   12        77.5        84.5        87.5    83.166667
1  2   Linda   f   13        89.0        90.5        74.0    84.500000
2  3     Sam   m   11        79.0        75.0        81.0    78.333333
3  4  Esther   f   12        69.0        76.5        75.0    73.500000
4  5    Mary   f   14        65.5        68.0        64.5    66.000000

   total_tests
0            2
1            2
2            2
3            2
4            2

The dataset had inconsistent column names, combined sex and age fields, incorrect data types, and missing values. It was cleaned by standardizing names, splitting sex and age, converting numeric fields, filling missing values, and removing duplicates. The data was then sorted by student ID and test number to ensure proper order. Finally, an average score was calculated using all term scores. The final dataset is structured for easier analysis of student performance across multiple tests.

_511_Event_Extents.csv

In [47]:
import pandas as pd

df = pd.read_csv("_511_Event_Extents.csv")

df = df.rename(columns=lambda x: x.strip().replace(' ', '_').lower())

date_cols = ['expiredt', 'issuedt', 'updatedt', 'editdate', 'gisupdated']
df[date_cols] = df[date_cols].apply(pd.to_datetime, format="%Y-%m-%d", errors='coerce')

text_cols = ['route', 'direction', 'cause', 'message', 'headline', 'descriptions', 'organizationid']
df[text_cols] = df[text_cols].apply(lambda x: x.astype(str).str.strip())

df[['cause', 'organizationid']] = df[['cause', 'organizationid']].fillna('Unknown')
df = df.drop(columns=['altroute'], errors='ignore')
df = df.drop_duplicates()

df['event_duration'] = (df['expiredt'] - df['issuedt']).dt.total_seconds() / 3600
df['priority'] = pd.to_numeric(df['priority'], errors='coerce')

print(df)

                                              the_geom expiredt issuedt  \
0    MULTILINESTRING ((-91.88076085037 42.237184118...      NaT     NaT
1    MULTILINESTRING ((-93.488957674817 42.00883390...      NaT     NaT
2    MULTILINESTRING ((-93.61725401037 42.750510000...      NaT     NaT
3    MULTILINESTRING ((-90.899487998812 41.63287310...      NaT     NaT
4    MULTILINESTRING ((-91.506670984863 43.45047897...      NaT     NaT
..                                                 ...      ...     ...
168  MULTILINESTRING ((-92.78024900276 43.284222228...      NaT     NaT
169  MULTILINESTRING ((-95.643944726046 43.21187900...      NaT     NaT
170  MULTILINESTRING ((-91.550127641912 42.05728500...      NaT     NaT
171  MULTILINESTRING ((-93.777019513991 41.60357658...      NaT     NaT
172  MULTILINESTRING ((-91.822140006343 41.17607237...      NaT     NaT

         route updatedt                                            linktxt  \
0     I-380 NB      NaT  https://new.511ia.org/event/IADOT-17843001482BOTH
1     US 30 WB      NaT  https://new.511ia.org/event/IADOT-17608942167BOTH
2     US 69 SB      NaT  https://new.511ia.org/event/IADOT-16837643353BOTH
3      I-80 EB      NaT  https://new.511ia.org/event/IADOT-17688210180BOTH
4     IA 76 SB      NaT  https://new.511ia.org/event/IADOT-17752298970BOTH
..         ...      ...                                                ...
168  US 218 SB      NaT  https://new.511ia.org/event/IADOT-17753191556BOTH
169   US 59 SB      NaT  https://new.511ia.org/event/IADOT-17745236001BOTH
170   IA 13 NB      NaT  https://new.511ia.org/event/IADOT-17124653084BOTH
171    I-80 WB      NaT  https://new.511ia.org/event/IADOT-16677332336BOTH
172    IA 1 NB      NaT  https://new.511ia.org/event/IADOT-17842783048BOTH

                                              headline short_direction  \
0    Starting Monday March 24 I-380 NB: Road Constr...              NB
1                      US 30 WB: Both Shoulders Closed              WB
2                      US 69 SB: Right Shoulder Closed              SB
3                I-80 EB: Night Time Construction Work              EB
4                          IA 76 SB: Road Construction              SB
..                                                 ...             ...
168                       US 218 SB: Road Construction              SB
169                        US 59 SB: Road Construction              SB
170                    IA 13 NB: Right Shoulder Closed              NB
171              I-80 WB: Night Time Construction Work              WB
172  Starting Monday March 24 IA 1 NB: Road Constru...              NB

      direction              cause  ...              id organizationid  \
0    Northbound                nan  ...  IADOT-17843001       Iowa DOT
1     Westbound  road construction  ...  IADOT-17608942       Iowa DOT
2    Southbound  road construction  ...  IADOT-16837643       Iowa DOT
3     Eastbound                nan  ...  IADOT-17688210       Iowa DOT
4    Southbound                nan  ...  IADOT-17752298       Iowa DOT
..          ...                ...  ...             ...            ...
168  Southbound                nan  ...  IADOT-17753191       Iowa DOT
169  Southbound                nan  ...  IADOT-17745236       Iowa DOT
170  Northbound       utility work  ...  IADOT-17124653       Iowa DOT
171   Westbound                nan  ...  IADOT-16677332       Iowa DOT
172  Northbound                nan  ...  IADOT-17842783       Iowa DOT

    priority gisupdated                                            message  \
0          5        NaT  Road Construction Working hours are 07:00 AM t...
1          5        NaT  Both Shoulders Closed due to road construction...
2          7        NaT  Right Shoulder Closed due to road construction...
3          5        NaT  Night Time Construction Work There is a weight...
4          5        NaT  Road Construction Look out for flagger.Working...
..       ...        ...                                                ...
168        5        NaT  Road Construction Pilot car in operation, look...
169        5        NaT  Road Construction There is a weight limit in e...
170        7        NaT  Right Shoulder Closed due to utility work. Wor...
171        5        NaT  Night Time Construction Work Working hours are...
172        5        NaT  Road Construction Look out for flagger.Working...

                                          descriptions objectid shape__length  \
0    Web Text: New Hampton RCE (800-373-7343) - Ben...       69  28299.383533
1                  Web Text: Story County Story County       97   1313.096052
2                Web Text: Wright County Wright County      140    657.364580
3    Web Text: Davenport RCE (800-262-5145) - Scott...       32  61727.438715
4    Web Text: New Hampton RCE (800-373-7343) - All...       94    435.724678
..                                                 ...      ...           ...
168  Web Text: New Hampton RCE (800-373-7343) - Mit...       29   6660.873293
169  Web Text: Cherokee RCE (800-579-2712) - O'Brie...      166    439.904124
170                  Web Text: Linn County Linn County      125   5207.804751
171  Web Text: Grimes RCE (800-251-2707) - Polk Cou...       41   5791.544371
172  Web Text: Fairfield RCE (641-469-4090) - Washi...       17  21466.350553

    editdate  event_duration
0        NaT             NaN
1        NaT             NaN
2        NaT             NaN
3        NaT             NaN
4        NaT             NaN
..       ...             ...
168      NaT             NaN
169      NaT             NaN
170      NaT             NaN
171      NaT             NaN
172      NaT             NaN

[173 rows x 23 columns]

In [35]:
df_long = df.melt(id_vars=['id', 'route', 'direction', 'cause', 'priority', 'issuedt', 'expiredt', 'event_duration'],
                  value_vars=['message', 'headline'],
                  var_name='event_detail_type', value_name='event_detail')

df_agg = df_long.groupby('route').agg(
    total_events=('id', 'count'),
    avg_priority=('priority', 'mean'),
    total_duration=('event_duration', 'sum')
).reset_index()

print(df_agg)

       route  total_events  avg_priority  total_duration
0   I-235 EB             2      5.000000      343.435000
1   I-235 WB             2      5.000000      343.435000
2    I-29 NB             2      7.000000     1061.353333
3    I-29 SB             2      7.000000     1061.353333
4    I-35 NB             6      4.000000    11190.438889
..       ...           ...           ...             ...
67  US 69 NB             6      6.333333   110277.962778
68  US 69 SB             6      6.333333   110277.962778
69  US 71 NB             2      5.000000      675.461667
70  US 75 NB             6      4.000000    15704.335000
71  US 75 SB             8      4.250000    16578.470556

[72 rows x 4 columns]

The dataset had messy column names, incorrect date formats, extra spaces, missing values, and duplicates. It was cleaned by standardizing names, converting dates, trimming spaces, filling missing values, and removing duplicates. It was then transformed to long format for better event analysis and aggregated by route to summarize total events, average priority, and total duration. The final dataset provides insights into high-risk roads and long-duration disruptions.